#icon {
	width: 30px;
	float: left;
	bottom: 0;
	top: 0;
	position: absolute;
	vertical-align: middle;
	font-size: xx-large;
	text-align: center;
}
#content {
	font-family: Fontcons;
}
#icon div {
	height: 100%;
	display: table;
}
#icon span {
	display: table-cell;
	vertical-align: middle;

}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
