#prnt {
	width: 910px;
	position: relative;
}
#body {
	margin-left: 2em;
}
#tabs {
	width: 880px;
	border-radius: 3px;
	overflow: visible;
	height: 1.4em;
	margin-left: 2em;
	user-select: none;
	position: relative;
}
#tabs li {
	font-weight: bold;
	font-size: 0.9em;
	text-transform: uppercase;
	overflow: visible;
	color: #00b0ff;
	display: inline-block;
	text-align: center;
}
#tabs li a {
	padding: 10px 20px;
	opacity: 0.5;
}
#download-cont {
	position: absolute;
	right: 25px;
	top: -6px;
}
#download-cont.download-only {
	left: -1em;
	right: 0;
}
#download-cont a {
	opacity: 1 !important;
}
#tabs li.active a {
	opacity: 1;
	border-bottom: 3px solid #00b0ff !important;
}
.icon {
	font-family: Fontcons;
}
.hide {
	display: none;
}

/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
