<div id="prnt" class$="[[class-name]]">
	<h4>[[title]]</h4>
	<ul id="tabs">
		<template is="dom-repeat" items="[[iter-components]]">
			<li class$="tab [[item.class]]"><a href="#" data-name$="[[item.name]]">[[item.name]]</a></li>
		</template>
		<li id="download-cont" class$="[[download-class]]">
			<a href="#"><hub-input-button id="download" width="50px"><span class="icon">&#xf019;</span> [[download-size]]</hub-input-button></a>
		</li>
	</ul>
	<div id="body"></div>
</div>
