#files {
	display: none;
}
#parent {
	padding: 2em;
	background: #f3f3f3;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
}
.error {
	color: #900;
	font-weight: bold;
}
.upload-icon {
	font-family: Fontcons;
	font-size: 24px;
	position: relative;
	left: -10px;
	color: #444;
}
#progress {
	list-style: none;
	padding: 0;
	max-width: 600px;
}
#progress li {
	margin-bottom: 0.5em;
}

/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
