<label id="parent">
	<span class="upload-icon">&#xF01B;</span>
	[[label]]
	<input type="file" id="files" accept="[[accept]]" multiple="[[multiple]]" />
</label>
<p class="error">[[error]]</p>
<ol id="progress">
</ol>
