button {
	position: relative;
	width: 100%;
}
button.highlight {
	font-weight: bold;
}
button #waves::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120%;
	margin-left: -60%;
	margin-top: -50px;
	background: white;
	border-radius: 100%;
	opacity: .6;
	transform: scale(0);
}
button #waves::after {
	visibility: hidden;
}
button:focus #waves::after {
	visibility: visible;
}

#arrow-right {
	position: relative;
	display: none;
}
.arrow-right #arrow-right {
	display: block;
}
#arrow-right:after, #arrow-right:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#arrow-right:after {
	border-left-color: rgba(0, 0, 0, 0.5);
	border-width: 6px;
	margin-top: -25px;
}

/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
