<button id="button" class$="btn waves-effect waves-light {{color}} z-depth-[[depth]] [[arrow-class]] [[text-class]]" disabled="[[disabled]]" href="#">
	<div id="waves">
		<slot></slot>
	</div>
	<div id="arrow-right" class$="[[color]]"></div>
</button>
