<div id="prnt">
	<h1>[[title]]</h1>
	<slot id="slot"></slot>
	<h2>Inputs</h2>
	<div id="inputs">
	</div>
	<h2>Outputs</h2>
	<div id="outputs">
	</div>
	<div id="run">
		<hub-input-button>Run</hub-input-button>
	</div>

	<template is="dom-if" if="[[debug]]">
		<h1>meta</h1>
		<dl>
			<dt>id</dt>
			<dd>[[def.id]]</dd>
			<dt>name</dt>
			<dd>[[def.name]]</dd>
			<dt>title</dt>
			<dd>[[def.title]]</dd>
			<dt>about</dt>
			<dd><pre>[[def.about]]</pre></dd>
			<dt>command</dt>
			<dd>[[def.command]]</dd>
			<dt>layout</dt>
			<dd>[[def.layout]]</dd>
			<dt>version</dt>
			<dd>[[def.versionID]], rev [[def.version.revision]], modified [[def.version.modified]], installed [[def.version.installed]]</dd>
		</dl>
		<h1>phases</h1>
		<ol>
			<template is="dom-repeat" items="[[def.phases]]">
				<li>
					<p>[[item.id]]</p>
					<h2>top-scope inputs</h2>
					<ol>
						<template is="dom-repeat" items="[[item.global.inputs]]">
							<li>
								<dl>
									<dt>id</td>
									<dd>[[item.id]]</dd>
									<dt>type</td>
									<dd>[[item.type]]</dd>
									<dt>label</td>
									<dd>[[item.label]]</dd>
									<dt>enable</td>
									<dd>[[item.enable]]</dd>
									<dt>default</dt>
									<dd>[[item.default]]</dd>
									<dt>current</dt>
									<dd>[[item.current]]</dd>
								</dl>
							</li>
						</template>
					</ol>
					<h2>groups</h2>
					<ol>
						<template is="dom-repeat" items="[[item.global.groups]]">
							<li>
								<dl>
									<dt>id</dt>
									<dd>[[item.id]]</dd>
									<dt>label</dt>
									<dd>[[item.label]]</dd>
								</dl>
								<h3>inputs</h3>
								<ol>
									<template is="dom-repeat" items="[[item.inputs]]">
										<li>
											<dl>
												<dt>id</td>
												<dd>[[item.id]]</dd>
												<dt>type</td>
												<dd>[[item.type]]</dd>
												<dt>label</td>
												<dd>[[item.label]]</dd>
												<dt>enable</td>
												<dd>[[item.enable]]</dd>
												<dt>default</dt>
												<dd>[[item.default]]</dd>
												<dt>current</dt>
												<dd>[[item.current]]</dd>
											</dl>
										</li>
									</template>
								</ol>
							</li>
						</template>
					</ol>
				</li>
			</template>
		</ol>
		<pre id="xml">[[def.XMLString]]</pre>
	</template>
</div>
