<hub-panel id="prnt" icon="&#xf003;" depth="[[depth]]">
	<a id="remove" title="Delete service" class="btn btn-small btn-flat waves-effect waves-light red">&#xf057;</a>

	<hub-input id="title" value="{{title::input}}" label="Service name" color="#039be5"></hub-input>
	<hub-input id="command" value="{{command::input}}" label="Command" placeholder="e.g., /usr/bin/python -E /path/to/script.py" color="#039be5"></hub-input>
	<p class="info">The proxy will execute this command on the connected machine. Include the path to the interpreter when applicable, and any arguments that are always used.</p>

	<h2>Inputs</h2>
	<ul id="inputs">
		<li><hub-agent-data-service-input-definition></hub-agent-data-service-input-definition></li>
	</ul>
	<p class="add-def-cont">
		<hub-input-button id="add-input"><span class="icon">&#x2295;</span> Add input</hub-input-button>
	</p>

	<h2 id="outputs-head">Outputs</h2>
	<label>Delivery method</label>
	<hub-input-tree-select id="delivery" choices='{
	"text": true,
	"file": {
		"standard out": true,
		"named": true
	},
	"json": {
		"one document": true,
		"newline-separated": true
	},
	"agent library": true
}'></hub-input-tree-select>
	<div id="outputs-cont">
		<p id="about-one-document" class="info">The entire output of your program will be interpreted as one JSON document.</p>
		<div id="about-newline-separated" class="info">Each line of your program's output will be interpreted as a separate entry into the response. You can build arrays by outputting the same paths more than once, e.g., arriving at <tt>{ "x": [ 0, 1 ], "y": [ 0, 1 ] }</tt> from
			<pre>{ "x": 0, "y": 0 }
{ "x": 1, "y": 1 }
		</div>

		<ul id="outputs">
			<li><hub-agent-data-service-output-definition> </hub-agent-data-service-output-definition></li>
		</ul>
		<div id="about-paths" class="info">
			Paths specify how to traverse to the parameter from the root of the document, using slashes to indicate depth. For this example document the possibilities are <tt>a</tt>, <tt>a/b</tt>, and <tt>c</tt>
			<pre>{ "a":{ "b": 1}, "c": 2 }</pre>
		</div>
		<p class="add-def-cont">
			<hub-input-button id="add-output"><span class="icon">&#x2295;</span> Add ouput</hub-input-button>
		</p>
	</div>

	<p id="test-cont">
		<hub-input-button id="test" disabled="[[!complete]]">Save &amp; Test</hub-input-button>
	</p>
	<p id="test-status" class$="[[test-status]]">
		[[test-message]]
		<template is="dom-if" if="[[_isTestOk(test-status)]]">
			<a id="access-url" href$="[[access-url]]">[[access-url]]</a>
		</template>
	</p>
</hub-panel>
<div id="confirm-remove" class="modal">
	<div class="modal-content">
		<h4>Confirm removal</h4>
		<p>Are you sure you want to delete [[description]]?</p>
	</div>
	<div class="modal-footer">
		<a href="#!" id="remove-confirmed" class="modal-close waves-effect btn btn-flat red">Delete</a>
		<a href="#!" class="modal-close waves-effect btn btn-flat grey lighten-2">Cancel</a>
	</div>
</div>
