#value-cont {
	display: inline-block;
	width: 700px;
	margin-right: 1em;
}
ul {
	list-style: disc;
	padding: 0;
	margin: 0;
	border: 0 !important;
}
ul li {
	border-left: 4px solid #ddd;
	border-bottom: 1px solid #fafafa;
}

#label-cont {
	display: inline-block;
	width: 700px;
	margin-top: -2em;
}
p {
	margin: 0;
}

/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
