<div id="prnt" class$="[[default-class]]">
<p>
	<div id="value-cont">
		<hub-input id="value" value="{{val::input}}" color="#039be5" placeholder="Value"></hub-input>
	</div>
	<label class="default-sel">
		<input id="default" class="light-blue accent-3" type="checkbox" checked="{{default::change}}" />
		<span>Default</span>
	</label>
</p>
<div id="label-cont">
	<hub-input id="label" value="{{label::input}}" color="#039be5" placeholder="Optional label"></hub-input>
</div>
</div>
