:host {
	position: relative;
}
label {
	width: 100%;
	display: block;
}
#prnt {
	font-size: 20px;
}
#inp {
	border-width: 1px 1px 3px;
	border-color: #eee;
	border-radius: 3px;
	border-style: solid;
	outline: none;
	padding: 7px 4px;
	width: 100%;
}
#inp:focus {
	border-top-color: #777;
	border-left-color: #777;
	border-right-color: #777;
	border-width: 1px 1px 3px;
	font-weight: bold;
}
.extra-msg {
	text-align: left;
	padding: 6px;
	border-radius: 4px;
	min-width: 360px;
	position: relative;
	font-size: small;
}
.error {
	color: #900;
	background: #fff3f3;
}
.info {
	color: #009;
	background: #f3f3ff;
}
.extra-msg .icon {
	font-family: Fontcons;
	font-size: 18px;
	position: absolute;
	top: 3px;
	left: 7px;
	font-weight: bold;
}
.extra-msg .message {
	display: inline-block;
	margin-left: 26px;
}
.extra-msg .arrow {
	position: absolute;
  	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	top: -15px;
	left: 10px;
	width: 0;
	height: 0;
}
.error .arrow {
	border-bottom: 15px solid #fff3f3;
}
.info .arrow {
	border-bottom: 15px solid #f3f3ff;
}
#label-text {
	color: #444;
	font-style: italic;
	font-size: 16px;
	font-size: large;
}
.unit {
	font-size: 90%;
	padding-left: 6px;
	color: #666;
}
.align-center #label-text,
.align-center #inp {
	text-align: center;
}
.label-position-below #label-text {
	display: inline-block;
	width: 100%;
	height: 33px;
	position: relative;
	top: 3em;
}
.label-position-below #inp {
	display: inline-block;
	width: 100%;
	position: relative;
	top: -18px;
}
#presets {
	padding: 0;
	margin-right: 2em;
	margin-left: 1em;
	margin-top: 0.3em;
	list-style: none;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
