<div id="prnt">
	<label id="parent" class$="label-position-[[label-position]] align-[[align]]">
		<span id="label-text">
			[[label]]
			<template is="dom-if" if="[[scalar-unit]]" class="unit">
				<hub-input-unit id="unit" unit="[[unit]]"></hub-input-unit>
			</template>
		</span>
		<input type="text" id="inp" value="{{value::input}}" name="[[name]]" placeholder="[[comp-placeholder]]" />
	</label>
	<template is="dom-if" if="[[error]]">
		<p class="error extra-msg">
			<span class="arrow"></span>
			<span class="icon">&#x26a0;</span>
			<span class="message">[[error]]</span>
		</p>
	</template>
	<template is="dom-if" if="[[info]]">
		<p class="info extra-msg">
			<span class="arrow"></span>
			<span class="icon">?</span>
			<span class="message">[[info]]</span>
		</p>
	</template>

	<ol id="presets">
		<template id="presets-tpl" is="dom-repeat" items="{{iter-presets}}">
			<template is="dom-if" if="[[item.label]]">
				<li class$="[[item.className]]"><hub-input-button color="[[item.color]]" data-value$="[[item.value]]">[[item.label]] [[item.value]][[item.unit]]</hub-input-button></li>
			</template>
		</template>
	</ol>
</div>
