#outer {
	background: black;
	animation: fadeInOuter 20s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.8;
	z-index: 8;
}
#outer.fade-out-outer {
	animation: fadeOutOuter 0.3s;
	opacity: 0;
}
#inner {
	z-index: 9;
	background: #f3f3f3;
	width: 80%;
	position: fixed;
	margin: auto auto;
	left: 10%;
	top: 10%;
	border-radius: 10px;
	animation: fadeInInner 0.3s;
}
#inner.fade-out-inner {
	animation: fadeOutInner 0.3s;
	opacity: 0;
}
#controls {
	position: absolute;
	bottom: 17px;
	right: 20px;
}
#controls hub-input-button {
	display: inline-block;
	margin-right: 30px;
}
#slot-prnt {
	margin: 1em;
	padding: 1em;
	border-bottom: 1px solid #eee;
	margin-bottom: 3em;
}
@keyframes fadeInOuter {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

	 10% {
		 display: block;
		 opacity: 0.6;
	 }

    100% {
        display: block;
        opacity: 0.8;
    }
}

@keyframes fadeOutOuter {
    0% {
        display: block;
        opacity: 0.8;
    }

    1% {
        display: block;
        opacity: 0.8;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes fadeInInner {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeOutInnner{
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
