<div id="outer"></div>
<div id="inner" class="z-depth-2">
	<div id="slot-prnt">
		<slot id="slot"></slot>
	</div>
	<div id="controls">
		<hub-input-button id="proceed">[[proceed-label]]</hub-input-button>
		<template is="dom-if" if="[[confirm]]">
			<hub-input-button id="cancel" color="red-text grey lighten-5 text-darken-5">[[cancel-label]]</hub-input-button>
		</template>
	</div>
</div>
