<div id="prnt">
	<hub-input value="{{path::input}}" id="path" label="Path"></hub-input>
	<p><hub-input-tree-select id="delivery" choices='{
	"number": {
		"coordinate": {
			"x": true,
			"y": true,
			"z": true
		}
	}
}'></hub-input-tree-select></p>
</div>
