#prnt {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 2em;
	padding-bottom: 1em;
}
#next {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 236px;
}
#current {
	display: inline-block;
	width: 200px;
	position: relative;
	height: 40px;
	overflow-y: visible;
	list-style: none;
	margin: 0;
	padding: 0;
}
.parent #current {
	left: -2px;
}
#current li {
	display: none;
}
.open #current li {
	display: block;
}
.open #next {
	display: none;
}
#current li.trigger {
	display: block;
	position: absolute;
	top: 0;
	width: 200px;
	left: 0;
}
.open #current li.trigger {
	position: relative;
}
hub-input-button {
	width: 200px;
	margin-bottom: 3px !important;
	font-weight: bold !important;
}

/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
