#wrap {
	position: relative;
	margin-top: 35px;
	margin-bottom: 20px;
	font-size: 12px;
}
#fields {
	border-left: 1px solid #eee;
	padding: 6px;
	padding-top: 0;
	position: absolute;
	display: inline-block;
	top: 0;
	bottom: 0;
	background: #fbfcfd;
	box-shadow: inset 1px 0 8px 1px rgba(51, 51, 51, 0.25);
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}
#axis {
	display: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 90px;
	margin-top: -5px;
}
#axis text {
	fill: #333;
	font-size: 15px;
}
#axis text.label {
	font-weight: bold;
}
#axis .tick text {
	font-size: 12px;
}
#axis .domain,
#axis .tick line {
	stroke: #aaa;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
