.line {
	stroke: #00b0ff;
	opacity: 0.6;
	fill: none;
	stroke-width: 1;
	stroke-dasharray: 4;
	animation: infinite dash 10s linear;
}
@keyframes dash {
  to {
    stroke-dashoffset: 40;
  }
}
.axis path,
.axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}
.axis text {
	fill: #668;
	font-size: 14px;
	font-family: sans-serif;
}
.dot {
	fill: #779;
	cursor: pointer;
}
svg {
	background: #fcfcfc;
	border-radius: 6px;
	padding: 4px;
}

/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
