#remove {
	font-family: Fontcons;
	cursor: pointer;
	position: absolute;
	top: 4px;
	font-size: x-large;
	right: 10px;
	opacity: 0;
}
#prnt:hover #remove {
	opacity: 1;
	transition: opacity .2s ease-out;
}
.red {
	color: #eee;
}
#prnt {
	display: block;
	position: relative;
	max-width: 1100px;
}
.modal-footer {
	width: 95% !important;
}
#access-url {
	display: inline-block;
	margin-left: 0.5rem;
	font-family: monospace;
}
.info {
	color: #666;
	font-style: italic;
	padding-left: 0.2rem;
}
.info:before {
	font-family: Fontcons;
	content: '\f075';
	margin-right: 0.5rem;
	color: #039be5;
}
#test-status {
	padding-left: 26px;
}
#test-status.untested {
	visibility: hidden;
}
#test-status.in-progress {
	background: url('../dist/assets/images/throbber.gif') no-repeat 5px 5px;
}
#test-status.error {
	color: #900;
}
#test-status.error:before {
	font-family: Fontcons;
	content: '\f01f';
	position: relative;
	left: -10px;
	font-size: 1.6em;
	top: 4px;
}
#test-status.warning {
	color: #990;
}
#test-status.warning:before {
	font-family: Fontcons;
	content: '\26A0';
	position: relative;
	left: -10px;
	font-size: 1.6em;
	top: 4px;
}
#test-status.ok {
	color: #090;
}
#test-status.ok:before {
	font-family: Fontcons;
	content: '\f087';
	position: relative;
	left: -10px;
	font-size: 1.6em;
	top: 4px;
}
#test-cont {
	width: 160px;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
