<hub-panel id="prnt" icon="&#xf0b1;" depth="[[depth]]">
	<a id="remove" title="Delete service" class="btn btn-small btn-flat waves-effect waves-light red">&#xf057;</a>
	<hub-input id="title" value="{{title::input}}" label="Service name" color="#039be5"></hub-input>
	<hub-input id="service-url" value="{{service-url::input}}" label="Service URL" placeholder="e.g., http://localhost:3000/my-app or http:///path/to/a/socket:/my-app" color="#039be5"></hub-input>
	<p class="info">This URL doesn't have to be externally-reachable. Traffic is proxied through the agent program you are running.</p>
	<p id="test-cont">
		<hub-input-button id="test" disabled="[[!complete]]">Save &amp; Test</hub-input-button>
	</p>
	<p id="test-status" class$="[[test-status]]">
		[[test-message]]
		<template is="dom-if" if="[[_isTestOk(test-status)]]">
			<a id="access-url" href$="[[access-url]]">[[access-url]]</a>
		</template>
	</p>
</hub-panel>

<div id="confirm-remove" class="modal">
	<div class="modal-content">
		<h4>Confirm removal</h4>
		<p>Are you sure you want to delete [[description]]?</p>
	</div>
	<div class="modal-footer">
		<a href="#!" id="remove-confirmed" class="modal-close waves-effect btn btn-flat red">Delete</a>
		<a href="#!" class="modal-close waves-effect btn btn-flat grey lighten-2">Cancel</a>
	</div>
</div>

