h1 {
	font-size: 1.6em;
	margin-top: 1em;
	padding-top: 1em;
	margin-left: -0.5em;
}
hub-panel {
	display: block;
}
#banner {
	max-width: 1200px;
}
#add-web-service,
#add-data-service {
	max-width: 700px;
}
.os {
	font-style: italic;
	font-family: monospace;
	margin-top: 0;
	font-size: 15px;
	color: #666;
}
#services-prnt {
	padding-left: 2em;
}
#services li {
	margin-bottom: 1rem;
}
#services {
	padding-left: 1em;
	padding-bottom: 1em;
}
hub-panel {
	cursor: pointer;
}
#banner {
	border-left: 16px solid #039be5;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
