<div id="prnt">
	<hub-panel id="banner" title="[[hostname]]" icon="&#xf01e;" icon-color="[[status-color]]" depth="1">
		<p class="os">[[platform]] [[release]]</p>
	</hub-panel>
	<div id="services-prnt">
		<ul id="services">
		</ul>
		<hub-panel id="add-web-service" title="Add a web service" icon="&#x2295;" icon-color="#039be5" cta>
			<p>Forwards web traffic to your own server.</p>
		</hub-panel>
		<hub-panel id="add-data-service" title="Add a data service" icon="&#x2295;" icon-color="#039be5" cta>
			<p>Generate a web interface to supply parameters to a script and relay back its output.</p>
		</hub-panel>
	</div>
</div>
