#version {
	color: #aaa;
}
#count {
	font-weight: bold;
	color: #eee;
	font-style: italic;
}
.hidden {
	opacity: 0;
	max-height: 0;
	display: none;
	animation: fadeOut 0.5s;
}
.appear {
	opacity: 1;
	max-height: 1600px;
	animation: fadeIn 0.5s;
}
#components {
	border-top: 3px solid #ee6e73;
	margin-top: -1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	max-height: 1000px;
	overflow: auto;
	background: #f3f3f3;
	list-style: none;
}

@keyframes fadeOut {
	0% {
		display: block;
		opacity: 1;
		max-height: 1600px;
	}

	1% {
		display: block;
		opacity: 1;
		max-height: 1600px;
	}

	100% {
		display: none;
		opacity: 0;
		max-height: 0;
	}
}

@keyframes fadeIn {
	0% {
		display: none;
		opacity: 0;
		max-height: 0;
	}

	1% {
		display: block;
		opacity: 0;
		max-height: 0;
	}

	100% {
		display: block;
		opacity: 1;
		max-height: 1600px;
	}
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
