<div id="prnt" class$="[[visibility-class]]">
	<hub-ui-panel id="panel" title="[[name]]" cta>
		<span id="version">[[version]]</span>
		<blockquote class="md">[[description]]</blockquote>
		<span id="count">[[visible-component-count]] components</span>
		<hub-ui-tags value="[[keywords]]"></hub-ui-tags>
	</hub-ui-panel>
	<ol id="components" class$="z-depth-2 [[component-class]]">
		<template is="dom-repeat" items="[[components]]">
			<li><hub-examples-component name="[[item.tagName]]" description="[[item.description]]" properties="[[item.properties]]" events="[[item.events]]" examples="[[item.examples]]"></hub-examples-component></li>
		</template>
	</ol>
</div>
