<div id="prnt">
	<hub-input-select id="function-select" value="{{function}}">
		<hub-input-button class="active" name="sin">Sine</hub-input-button>
		<hub-input-button name="cos">Cosine</hub-input-button>
		<hub-input-button name="random">Random</hub-input-button>
	</hub-input-select>
</div>
