#prnt {
	overflow: visible;
	padding-left: 1em;
	padding-right: 6em;
	border-left: 4px solid #ddd;
	position: relative;
}
#remove {
	font-family: Fontcons;
	cursor: pointer;
	position: absolute;
	top: 4px;
	font-size: medium;
	right: 10px;
	padding: 0 10px;
	color: #f3f3f3;
	opacity: 0;
}
#prnt:hover #remove {
	opacity: 1;
	transition: opacity .2s ease-out;
}
#type-cont {
	position: relative;
	top: -1.5em;
}
#description {
	height: 3em !important;
	position: relative;
	top: -2em;
}
label {
	color: #444;
	font-style: italic;
	font-size: 18px;
}
#delivery-cont {
	margin-top: 3em;
}
#presets {
	list-style: none;
	margin: 0;
	padding: 0;
}
#add-preset-cont {
	font-size: small;
	width: 140px;
	margin-top: 6px;
}
#presets li {
	padding-left: 1em;
	border-left: 4px solid #ddd;
	margin-top: 0.5em;
	border-bottom: 1px solid #fafafa;
}
#domain-cont {
	position: relative;
	top: -1em;
}
.domain-inp-cont {
	width: 70px;
	display: inline-block;
	text-align: center;
	margin-top: -0.5em;
}
.to {
	display: inline-block;
	font-weight: bold;
	padding-left: 9px;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
