<div id="prnt">
	<a id="remove" title="Delete parameter" class="btn btn-small btn-flat waves-effect waves-light red">&#xf057;</a>

	<hub-input label="Label" value="{{name::input}}" placeholder="Short name for this parameter" color="#039be5"></hub-input>
	<hub-input id="description" value="{{description::input}}" placeholder="Optional explanatory text" color="#039be5"></hub-input>
	<div id="type-cont">
		<label>Type</label>
		<hub-input-tree-select id="type" choices='{
	"string": true,
	"number": {
		"label": "unitless",
		"angle": {},
		"current": {},
		"energy": {
			"electronvolts": true,
			"joules": true
		},
		"frequency": {},
		"length": {},
		"mass": {},
		"parts-per": {},
		"pressure": {},
		"speed": {},
		"temperature": {
			"celsius/centigrade": true,
			"fahrenheit": true,
			"kelvin": true,
			"rankine": true
		},
		"voltage": {},
		"volume": {}
	},
	"element": true,
	"file": {
		"image": {
			"gif": true,
			"jpg": true,
			"png": true
		}
	},
	"structure": {}
}'></hub-input-tree-select>
</div>

	<template is="dom-if" if="[[domain-relevant]]">
		<div id="domain-cont">
			<label>Domain</label><br />
			<div class="domain-inp-cont">
				<hub-input value="{{min::input}}" class="domain" id="min" placeholder="minimum" />
			</div>
			<span class="to">&ndash;</span>
			<div class="domain-inp-cont max">
				<hub-input value="{{max::input}}" class="domain" id="max" placeholder="maximum" />
			</div>
		</div>
	</template>
	<div id="presets-cont">
		<label>Presets</label>
		<ol id="presets">
			<li><hub-agent-input-definition-preset default></hub-agent-input-definition-preset></li>
		</ol>
		<div id="add-preset-cont">
			<hub-input-button id="add-preset"><span class="icon">&#x2295;</span> Add preset</hub-input-button>
		</div>
	</div>
	<div id="delivery-cont">
		<label>Delivery method</label>
		<hub-input-tree-select id="delivery" choices='{
	"command line": {
		"positional": true,
		"named": {}
	},
	"standard input": {
	},
	"agent library": true
}'></hub-input-tree-select>
	</div>
</div>
