@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/xq-light.css';

textarea {
	overflow: auto;
	border-radius: 6px;
	font-size: small;
	border: 0;
}
#slot, slot {
	display: none;
}
#prnt {
	background: #fcfcfc;
	padding: 0.5em;
}
.CodeMirror {
	height: auto;
	margin-top: 6px;
	color: #33a !important;
	border-radius: 6px;
	background: #fcfcfc !important;
	font-size: 0.9em;
}
.CodeMirror span {
	font-family: monospace !important;
}
.cm-keyword {
	font-weight: bold;
}
.cm-tab {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
	background-position: right;
	background-repeat: no-repeat;
	width: 30px;
}
.CodeMirror-linenumber {
	background: #eee;
	color: #bbb !important;
}
.CodeMirror-lines {
	padding: 0 !important;
}
.CodeMirror-line {
	background: #fafafa;
}
::selection {
	background: #0f0 !important;
}
#firefox-hide {
	display: none;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
