<script id="mode" src="/vendor/codemirror/mode/[[mode]].js"></script>
<div id="prnt" class="z-depth-1">
	<textarea id="code">[[value]]</textarea>
</div>
<div id="firefox-hide">
	<slot id="slot"></slot>
</div>
