@font-face {
	font-family: Fontcons;
	src:
		local('☺︎'),
		url('../fonts/fontcons-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontcons-webfont.woff') format('woff'),
		url('../fonts/fontcons-webfont.ttf') format('truetype'),
		url('../fonts/fontcons-webfont.svg#FontconsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
