#outer {
	border-radius: 3px;
	background-image: repeating-linear-gradient(-45deg, #f3f3f3, #f3f3f3 15px, #eee 25px, #eee 50px);
	animation: progress 2s linear infinite;
	box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
	height: 2em;
	line-height: 1.6em;
	position: relative;
	overflow: hidden;
}
#inner {
	width: 30%;
	background: rgba(158, 222, 255, 0.6);
	background: linear-gradient(to bottom, rgba(136, 191, 232, 0.5) 0%, rgba(112, 176, 224, 0.5) 100%);
	padding: 5px;
	transition: width 0.25s;
	transition-timing-function: ease-out;
	box-shadow: inset 1px 0 5px 0 rgba(0, 0, 0, 0.5);
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
#label {
	font-size: 110%;
	position: absolute;
	left: 10px;
	top: 5px;
}
#detail {
	font-size: 80%;
	color: #666;
	font-style: italic;
	display: inline;
	margin-left: 10px;
}
@keyframes progress {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 70px 0;
	}
}

/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
