<div id="outer">
	<div id="inner" style="width: [[percentage]]%">
	</div>
	<span id="label">
		[[label]]
		<template is="dom-if" if="[[detail]]">
			<div id="detail">[[detail]]</div>
		</template>
	</span>
</div>
