@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/duotone-light.css';

textarea {
	overflow: auto;
	border-radius: 6px;
	font-size: small;
	width: 99%;
	height: 98%;
	border: 0;
}
#prnt {
	background: #fcfcfc;
	width: 900px;
	height: 506px;
}
.CodeMirror {
	margin-top: 6px;
	width: 910px;
	height: 516px;
	color: #33a !important;
	border-radius: 6px;
	font-weight: bold;
	background: #fcfcfc !important;
	font-size: 0.9em;
	font-family: monospace !important;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2)
}
.cm-number,
.cm-string {
	font-weight: normal;
}
.CodeMirror-linenumber {
	font-weight: normal;
	background: #eee;
	color: #bbb !important;
}
.CodeMirror-lines {
	padding: 0 !important;
}
.CodeMirror-line {
	background: #fafafa;
}
::selection {
	background: #0f0 !important;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
