h1 {
	color: #ee6e73;
	font-weight: bold;
	font-size: 1.2em;
}
.name {
	width: 250px;
}
.type {
	display: inline-block;
	font-weight: normal;
	text-align: right;
	width: 80px;
	color: #888;
	text-transform: lowercase;
}
.type, .default {
	font-family: monospace;
	max-width: 40px;
}
th {
	width: 250px;
}
table {
	background: #fafafa;
}
h2 {
	font-size: 1em;
	font-weight: bold;
	color: #888;
	margin-bottom: 0;
}
.eval {
	width: 200px;
}
.detail {
	max-height: 100px;
	overflow: auto;
}
#examples .description {
	text-align: center;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
