<h1 id$="[[name]]"><a href="?el=[[name]]">&lt;[[name]]&gt;</a></h1>
<blockquote class="md">[[description]]</blockquote>
<h2>Properties</h2>
<table id="properties" class="striped">
	<tbody>
		<template is="dom-repeat" items="[[iter-properties]]">
			<tr>
				<th>
					<span class="type">[[item.type]]</span>
					<span class="name">[[item.name]]</span>
				</th>
				<td class="default">[[item.value]]</td>
				<td class="md">[[item.description]]</td>
			</tr>
		</template>
	</tbody>
</table>
<template is="dom-if" if="[[iter-events.length]]">
	<h2>Events</h2>
	<table id="events" class="striped">
		<tbody>
			<template is="dom-repeat" items="[[iter-events]]">
				<tr>
					<th>
						<span class="type">event</span>
						<span class="name">[[item.name]]</span>
					</th>
					<td class="md">[[item.description]]</td>
				</tr>
			</template>
		</tbody>
	</table>
</template>
<template is="dom-if" if="[[iter-examples.length]]">
	<h2>Examples</h2>
	<table id="examples" class="striped">
		<tbody>
			<template is="dom-repeat" items="[[iter-examples]]">
				<tr>
					<th class="description">
						<span class="name">[[item.description]]</span>
					</th>
					<td class="code">
						<hub-input-code mode="htmlmixed" read-only>[[item.markup]]</hub-input-code>
						<template is="dom-if" if="[[!item.results]]">
							<div class="eval">
								<hub-input-button class="eval-button" data-example="[[item.index]]" on-click="_runExample">Evaluate</hub-input-button>
							</div>
						</template>
						<div class="evaluated"></div>
						<template is="dom-if" if="[[item.events.length]]">
							<table class="event-log">
								<tbody>
									<template is="dom-repeat" items="[[item.events]]">
										<tr>
											<th>[[item.type]]</th>
											<td>
												<div class="detail">
													<hub-input-code read-only mode="javascript">[[item.detail]]</hub-input-code>
												</div>
											</td>
										</tr>
									</template>
								</tbody>
							</table>
						</template>
					</td>
				</tr>
			</template>
		</tbody>
	</table>
</template>

