#prnt {
	display: inline-block;
	margin-top: 1em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}
select {
	display: inline-block !important;
	border: none;
	width: 60px;
	padding: 0 4px;
	text-align: center;
	text-align-last: center;
	background: #fdfdfd;
	position: absolute;
	height: 20px;
	font-size: small !important;
}
label {
	font-size: small !important;
	position: relative;
	top: -20px;
	left: 8px;
}
#unit-cont {
	margin-left: 20px;
}
#unit-cont select {
	width: 100px;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
