<div id="prnt">
	<span id="prefix-cont">
		<select id="prefixes">
			<template is="dom-repeat" items="[[prefixes]]">
				<option value="[[item.sym]]" selected="[[item.selected]]">[[item.sym]]</option>
			</template>
		</select>
		<label>SI prefix</label>
	</span>
	<span id="unit-cont">
		<select id="units">
			<template is="dom-repeat" items="[[units]]">
				<option value="[[item.sym]]" selected="[[item.selected]]">[[item.sym]]</option>
			</template>
		</select>
		<label>[[parsed-unit.domain]] unit</label>
	</span>
</div>
