#prnt {
	background: #900;
	color: white;
	padding: 1em;
	position: fixed;
	bottom: 10px;
	right: 10px;
	user-select: none;
	border-radius: 8px;
	width: 600px;
	max-height: 800px;
	overflow-y: auto;
}
#messages {
	padding-left: 20px;
}
#messages li {
	list-style-type: square;
	cursor: pointer;
}
#messages .context {
	background: #966;
	border-radius: 3px;
	padding: 6px 20px;
	display: none;
}
strong {
	font-size: 1.1em;
}
strong:after {
	content: ':';
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
