<div id="prnt" class="z-depth-3">
	<ul id="messages">
		<template is="dom-repeat" items="[[log]]">
			<li on-click="_toggleContext">
				<p class="message"><strong>[[item.type]]</strong> [[item.message]]</p>
				<template is="dom-if" if="[[_logContext(item)]]">
					<p class="context">[[_logContext(item)]]</p>
				</template>
			</li>
		</template>
	</ul>
</div>
