@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/duotone-light.css';

ol {
	list-style: none;
}
#pkg-types {
	margin-left: 3em;
	padding-bottom: 0.5em;
	margin-bottom: 2em;
	border-bottom: 1px solid #ddd;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
.example {
	width: 600px;
	margin-left: 2em;
}
.method {
	font-family: monospace;
}
.method-def {
	border-bottom: 0;
}
#about {
	margin-left: 3em;
	padding: 1em;
	background: #fafafa;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
