<div id="prnt">
	<h1>hub-polymer: Component Documentation</h1>
	<template is="dom-if" if="[[single]]">
		<hub-examples-component single name="[[single-props.tagName]]" description="[[single-props.description]]" properties="[[single-props.properties]]" events="[[single-props.events]]" examples="[[single-props.examples]]"></hub-examples-component></li>
	</template>
	<template is="dom-if" if="[[!single]]" id="browser">
		<h2>Browser</h2>
		<div id="pkg-types">
			<p>
				<label>
					<input id="show-apps" class="light-blue accent-3" type="checkbox" checked="{{show-apps::change}}" /><span>show applications</span>
				</label>
			</p>
			<p>
				<label>
					<input id="show-core" class="light-blue accent-3" type="checkbox" checked="{{show-core::change}}" /><span>show core elements</span>
				</label>
			</p>
		</div>
		<ol id="packages">
			<template is="dom-repeat" items="[[packages]]">
				<li>
					 <hub-examples-package name="[[item.name]]" version="[[item.version]]" description="[[item.description]]" components="[[item.components]]" keywords="[[item.keywords]]"></hub-examples-package>
				</li>
			</template>
		</ol>
		<h2>About</h2>
		<div id="about" class="z-depth-2">
			<p>This documentation is generated automatically the annotations provided for components.</p>
			<p>These annotations span the following methods:</p>
			<table>
				<thead>
					<tr><th>Method</th><th>Description</th></tr>
				</thead>
				<tbody>
					<tr class="method-def">
						<td class="method">static get properties()</td>
						<td>In addition to the Polymer-document attriubtes for each property, you may provide <tt>description</tt>. Computed properties are not considered to be part of the interface so they are omitted.</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="example">
								<hub-input-code read-only mode="javascript">static get properties() {
	return {
		'function': {
			'type': String,
			'description': 'sin, cos or random'
		},
		'start': {
			'type': Number,
			'value': 0,
			'description': 'start at (degrees)'
		},
		// ...
	};
}</hub-input-code>
							</div>
						</td>
					</tr>
					<tr class="method-def">
						<td class="method">static get events()</td>
						<td>Describe the events the component dispatches in an object mapping their names to their descriptions.</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="example">
								<hub-input-code read-only mode="javascript">static get events() {
	return {
		'change': 'Provides new value as Event.detail.value'
	};
}</hub-input-code>
							</div>
						</td>
					</tr>
					<tr class="method-def">
						<td class="method">static get examples()</td>
						<td>Provide examples of common usage of the component by mapping descriptions of the example's purpose to markup implementing it.</td>
					</tr>
					<tr class="method-def">
						<td colspan="2">
							<div class="example">
								<hub-input-code read-only mode="javascript">static get examples() {
	return {
		'basic usage (set function prop for default)': '<hub-examples-function-generator function="cos"></hub-examples-function-generator>'
	};
}</hub-input-code>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</template>
</div>
