.card-title {
	font-size: x-large;
}
.card-panel {
	position: relative;
}
.cta {
	color: #fff;
}
#prnt {
	display: block;
}
.with-icon #body {
	padding-left: 40px;
}
#cta span {
	font-family: Fontcons;
	font-size: 2em;
}

/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
