<div id="prnt" class$="card-panel z-depth-[[depth]] [[className(icon, cta)]] waves-effect waves-light">
	<div id="content" class="card-content">
		<hub-panel-icon id="icon" content="[[icon]]" color="[[_getComputedIconColor(cta, icon-color)]]"></hub-panel-icon>

		<div id="body">
			<template is="dom-if" if="[[title]]">
				<span class="card-title">[[title]]</span>
			</template>
			<slot id="slot"></slot>
		</div>
	</div>
</div>
