#prnt {
	width: 100%;
	height: 100%;
	padding-top: 0.8em;
	position: relative;
	border-radius: 4px;
}
svg {
	z-index: 1;
}

.graticule {
	fill: none;
	stroke: #888;
	stroke-width: 0.5px;
	stroke-opacity: 0.5;
}
.country {
	fill: #dcd8bd;
	stroke: #bbb;
	stroke-width: 0.5px;
}
#sphere {
	fill: #71a9ea;
	stroke: #aaa;
	stroke-width: 0px;
}
#shadow {
	height: 100%;
	border-radius: 50%;
	box-shadow: 10px 10px 36px -14px rgba(0,0,0,0.85);
	position: absolute;
	display: none;
	top: 0.8em;
	z-index: -1;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
